<div>
  This is the Header Section
  <p appHighlight>
    This is a paragraph with highlight attached
  </p>
  <span appHighlight>
    This is a paragraph with highlight attached
  </span>
  <div class="navigation">
    <a [routerLink]="['/']">Home</a>
    <a [routerLink]="['/lazy/lazypage']">Lazy Page</a>
  </div>

  <h1 i18n>Hello world!</h1>

  <p>
    This is a paragraph with highlight attached
  </p>
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <button (click)="onThrowError()">Throw Error</button>

</div>